.advantages {
  background: url("../img/content/advantages.jpg") $background-blue no-repeat;
  width: 100%;
  background-position-x: center;
  background-size: cover;

  @media (min-resolution: retina) {
    background: url("../img/content/advanteges@2x.jpg") $background-blue no-repeat;
    background-size: 2732px auto;
  }

  @include vp-1023 {
    background: url("../img/content/advanteges_tablet.jpg") $background-blue no-repeat;
    background-position-x: center;
    background-size: cover;

    @media (min-resolution: retina) {
      background: url("../img/content/advantages_tablet@2x.jpg") $background-blue no-repeat;
      background-size: 1536px auto;
    }
  }

  @include vp-767 {
    min-width: 320px;
    background: url("../img/content/advantages_mob.jpg") $background-blue no-repeat;
    background-position-x: center;
    background-size: cover;

    @media (min-resolution: retina) {
      background: url("../img/content/advanteges_mob@2x.jpg") $background-blue no-repeat;
      background-size: 640px auto;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1366px;

  @include vp-767 {
    width: 100%;
    align-content: center;
    padding: 0 15px;
  }
}

.advantages h2 {
  display: block;
  align-self: center;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-blue;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 110px;
  margin-left: 15px;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-top: 88px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin: 58px 0 30px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  padding-left: 15px;
  margin: 0 auto 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  position: relative;
  width: 87%;

  @include vp-1023 {
    width: 92%;
    grid-gap: 30px;
    // grid-template-columns: 206px 206px 206px;
    margin: 0 auto 100px;
    padding-left: 15px;
  }

  @include vp-767 {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 0 65px;
    padding-left: 0;
  }
}
