.agreement-checkbox + label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  left: 0;
  background-color: $light-beige;

  @include vp-1023 {
    left: 0;
  }

  @include vp-767 {
    left: 1px;
    top: 1px;
  }
}

.agreement-checkbox:checked + label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url("../img/sprite/agreement_icon.svg") no-repeat $light-beige;
}

.agreement-checkbox:focus + label::before,
.agreement-checkbox:checked:focus + label::before {
  width: 19px;
  height: 19px;
  border: 1px solid $background-blue;
}
