.booking {
  display: flex;
  background: url("../img/content/booking.jpg") $background-blue no-repeat;
  width: 100%;
  background-position-x: center;
  background-size: cover;

  @media (min-resolution: retina) {
    background: url("../img/content/booking@2x.jpg") $background-blue no-repeat;
    background-size: 2732px auto;
  }

  @include vp-1023 {
    background: url("../img/content/booking_tablet.jpg") $background-blue no-repeat;
    background-position-x: center;
    background-size: cover;

    @media (min-resolution: retina) {
      background: url("../img/content/booking_tablet@2x.jpg") $background-blue no-repeat;
      background-size: 1536px auto;
    }
  }

  @include vp-767 {
    min-width: 320px;
    background: url("../img/content/booking_mob.jpg") $background-blue no-repeat;
    background-position-x: center;
    background-size: cover;

    @media (min-resolution: retina) {
      background: url("../img/content/booking_mob@2x.jpg") $background-blue no-repeat;
      background-size: 640px auto;
    }
  }
}

.booking__wrapper {
  display: flex;
  max-width: 1160px;
  margin: 50px auto;
  width: 85%;

  @include vp-1023 {
    flex-direction: column;
    margin-bottom: 102px;
    align-items: center;
    // padding-left: 15px;
  }

  @include vp-767 {
    margin: 20px auto 65px;
    padding-left: 0;
    min-width: 290px;
    align-items: center;
  }
}
