.booking-form {
  max-width: 403px;
  background-color: $dark-blue;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 50px 50px;
  margin-left: 85px;

  @include vp-1023 {
    margin-left: 0;
    padding: 45px 50px 50px;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    padding: 35px 30px 40px;
    display: flex;
    flex-direction: column;
  }
}

.booking-form form {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    width: 100%;
  }
}

.booking-form__intro {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $light-beige;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;

  @include vp-767 {
    line-height: 25px;
    text-align: center;
  }
}

.booking-form p br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.booking-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.booking-form__list {
  list-style: none;
  padding-left: 0;
  margin-top: 27px;
}

.booking-form__item {
  margin-bottom: 20px;
}

.booking-form__item input {
  width: 303px;
  color: $dark-blue;
  border: none;
  background-color: $light-beige;
  font-family: "Montserrat", "Arial", sans-serif;
  // color: rgba(1, 28, 64, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 13px 80px 10px 16px;

  @include vp-1023 {
    padding: 12px 82px 9px 16px;
  }

  @include vp-767 {
    padding-right: 7px;
    padding-bottom: 10px;
    width: 100%;
  }
}

.booking-form__agreement label {
  position: relative;
}

.booking-form__agreement p {
  width: 281px;
  padding-left: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $light-beige;
  font-weight: 400;
  font-size: 5px;
  line-height: 3px;
  letter-spacing: -2.5px;
  margin: 0;
  margin-top: 5px;

  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    line-height: 80%;
    letter-spacing: -0.5px;
    padding-left: 25px;
    margin-top: 0;
  }
}

.booking-form__agreement br {
  display: none;

  @include vp-374 {
    display: block;
  }
}
