.cruise-list {
  max-width: 1140px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 386px 386px;
  grid-gap: 30px;

  @include vp-1119 {
    grid-template-columns: 1fr 1fr 1fr ifr;
    grid-gap: 10px;
    padding: 0 15px;
  }

  @include vp-1023 {
    max-width: 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 386px 386px 386px 386px;
    padding: 0;
    grid-gap: 30px;
  }

  @include vp-767 {
    width: 270px;
    padding-left: 0;
    grid-template-columns: 270px;
    grid-template-rows: 386px 386px 386px 386px 386px 386px 386px 386px;
  }
}

.cruise-list__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus-visible .cruise-info,
  &:focus .cruise-info,
  &:active .cruise-info,
  &:focus-within .cruise-info,
  &:hover .cruise-info {
    z-index: 10;
  }
}
