.footer-list {
  width: 85%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 28px;

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 12px;
  }
}

.footer-list__item {
  margin: 10px 0 5px;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    margin-top: 3px;
    margin-bottom: 14px;
  }
}

.footer-list__item a {
  color: $light-beige;
  font-weight: 500;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: 33px;

  &:hover {
    opacity: 0.8;
  }

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
    margin-right: 22px;
    letter-spacing: -0.5px;
  }

  @include vp-767 {
    width: 100%;
    display: block;
    margin: 5px 39px 0 0;
    letter-spacing: -0.8px;
  }
}
