.intro {
  background: url("../img/content/main_picture.jpg") $background-blue no-repeat 0;
  width: 100%;
  background-position-x: center;
  background-size: cover;
  overflow: visible;
  margin-top: -108px;
  height: 650px;

  @media (min-resolution: retina) {
    background-image: url("../img/content/main_picture@2x.jpg");
    background-size: 1300px auto;
  }

  @include vp-1023 {
    background-image: url("../../img/content/main_picture_tablet.jpg");
    height: 638px;
    margin-top: -80px;
    background-position-x: center;
    background-size: cover;
    overflow: visible;
  }

  @include vp-767 {
    background-image: url("../../img/content/main_picture_mob.jpg");
    height: 500px;
    margin-top: -60px;
    background-position-x: center;
    background-size: cover;
    overflow: visible;
  }
}

.intro br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1170px;

  @include vp-1023 {
    max-width: 678px;
  }

  @include vp-767 {
    min-width: 320px;
    margin: 0 auto;
  }
}

.intro h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700px;
  font-size: 54px;
  line-height: 66px;
  color: $light-beige;
  display: block;
  margin-top: 270px;
  margin-left: 107px;
  margin-bottom: 0;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-left: 7px;
    margin-top: 267px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 175px;
    margin-left: 15px;
  }
}

.intro p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  line-height: 24px;
  color: $light-beige;
  display: block;
  margin-top: 12px;
  margin-left: 108px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    margin-left: 7px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    margin-left: 15px;
  }
}
