.option-list__item {
  background-color: $light-beige;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 62px;
}

.option-list__item--ship {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/sprite/ship_icon.svg");
    width: 27px;
    height: 32px;
    top: 30px;
    left: 30px;

    @include vp-1023 {
      background-image: url("../img/sprite/ship_icon_tablet.svg");
      width: 21px;
      height: 26px;
      top: 25px;
      left: 20px;
    }
  }
}

.option-list__item--all-inclusive {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/sprite/all_inclusive_icon.svg");
    width: 38px;
    height: 21px;
    top: 35px;
    left: 30px;

    @include vp-1023 {
      background-image: url("../img/sprite/all_inclusive_icon_tablet.svg");
      width: 33px;
      height: 19px;
      top: 29px;
      left: 20px;
    }
  }
}

.option-list__item--boat {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/sprite/boat_icon.svg");
    width: 42px;
    height: 15px;
    top: 37px;
    left: 30px;

    @include vp-1023 {
      background-image: url("../img/sprite/boat_icon_tablet.svg");
      width: 38px;
      height: 13px;
      top: 32px;
      left: 20px;
    }

    @include vp-767 {
      top: 33px;
    }
  }
}

.option-list h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-blue;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 8px;
  margin-left: 30px;

  @include vp-1023 {
    line-height: 25px;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }
}

.option-list__item--all-inclusive h3 {
  @include vp-767 {
    margin-bottom: 10px;
  }
}

.option-list__item--all-inclusive p {
  @include vp-767 {
    margin-bottom: 19px;
  }
}

.option-list__item--boat h3 {
  @include vp-767 {
    margin-bottom: 9px;
  }
}

.option-list h3 br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.option-list p {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 30px 25px;

  @include vp-1023 {
    margin: 0 15px 18px 20px;
  }
}

.option-list__desktop {
  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.option-list__tablet {
  display: none;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.option-list__mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.option-list__desktop--nomob {
  display: block;

  @include vp-1023 {
    display: none;
  }
}
