.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.page__body {
  min-width: 100%;
  margin: 0 auto;

  @include vp-1023 {
    max-width: $vp-1023;
  }

  @include vp-767 {
    max-width: $vp-767;
    min-width: $vp-320;
  }
}
