.send-button {
  width: 303px;
  border: none;
  background-color: $light-beige;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $dark-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 87px 11px;
  margin-top: 17px;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @include vp-1023 {
    padding: 11px 89px 11px 90px;
    margin-top: 20px;
  }

  @include vp-767 {
    margin-top: 22px;
    padding: 12px 53px 11px;
    width: 100%;
  }
}
