.trips-info {
  @include vp-1023 {
    width: 332px;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 15px;
  }
}

.trips-info h2 {
  display: block;
  color: $dark-blue;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 55px;
  margin-left: 17px;
  margin-bottom: 0;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
    margin-top: 8px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
    margin-left: 0;
  }
}

.trips-info p {
  display: block;
  color: $dark-blue;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 17px;

  @include vp-1023 {
    width: 324px;
    margin-top: 17px;
    margin-left: 0;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}

.trips-info h2 br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.trips-info__tablet {
  @include vp-767 {
    display: none;
  }
}

.trips-info__mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
