.trips {
  width: 100%;
  margin: 0;
}

.trips__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  width: 89%;
  margin: 120px auto;
  padding-left: 10px;

  @include vp-1023 {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 83px auto 80px;
    grid-template-columns: none;
    grid-gap: unset;
    padding-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding-left: 2px;
    margin: 50px auto 58px;
    grid-gap: unset;
  }
}

.trips__wrapper img {
  @include vp-1023 {
    width: 324px;
    height: 264px;
    margin-bottom: 8px;
  }

  @include vp-767 {
    width: 290px;
    height: 186px;
  }
}
